<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>index.html</h1>
<!--href send GET request-->
<a th:href="@{/hello}">hello</a><br>
<a th:href="@{/abc}">abc</a><br>
<form th:action="@{/hello}" method="get">
    <input type="submit" value="method attribute">
</form>
<a th:href="@{/hello(username='admin')}">hello(param test)</a><br>
<a th:href="@{/aaa/abc/ant}">hello(ant test)</a><br>
<a th:href="@{/test/rest/1}">hello(value placeholder)</a><br>
<hr>
<form th:action="@{/param/pojo}" method="get">
    username:<input type="text" name="username"><br>
    password:<input type="password" name="password"><br>
    <input type="submit" value="login"><br>
</form>
<hr>
<a th:href="@{/test/mav}">share data to request scope through ModelAndView </a><br>
<a th:href="@{/test/session}">share data to session scope  </a><br>
<a th:href="@{/test/application}">share data to application scope </a><br>
<a th:href="@{/test/view/thymeleaf}">test thymeleaf view in SpringMVC</a><br>
<a th:href="@{/test/view/forward}">test InternalResourceView in SpringMVC</a><br>
<a th:href="@{/test/view/redirect}">test RedirectView in SpringMVC</a><br>
<hr>
<a th:href="@{/user}">query all user information</a><br>
<a th:href="@{/user/1}">query the user information where id equals 1</a><br>
</body>
</html>